.header-wrapper{
  width: 100%;
}

.hero-image{
 min-height:450px;

}

.blogs-section{
  margin-top: 14rem;
}

.single-post{
  flex-grow: 2;
}

@media screen and (min-width:1020px) and (max-width:1030px){
  .single-post{
    flex-grow: 2;
    background-color: red;
  }
}